.btn-flat {
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  font-size: 13px;
}
.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
